<link rel="stylesheet" href="/css/user_profile.css">
 <h1>It is the <%=title%></h1>
 <img src="<%=user.avatar%>" width="100px" alt="Profile picture"/>

 <%if(user.id==profile_user.id){%>
<form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
    <input type="text" name="name" value="<%=profile_user.name%>">
    <input type="emai" name="email" value="<%=profile_user.email%>">
    <input type="file" name="avatar" placeholder="uploads">
    <input type="submit" value="update">
</form>
 <%}else{%>
 <p><%=profile_user.name%></p>
 <p><%=profile_user.email%></p>
<%}%>
